#contact
{
    padding: 150px 0 200px 0;
    background-color: #202020;
    box-shadow: 0px 10px 13px -7px #0f0f0f, inset 0px 0px 16px 8px #0f0f0f;
}

#contact .content
{
    display: flex;
    padding: 50px 50px 30px 50px;
    margin: 0 auto;
    color: #949494;
    width: 1000px;
    border-radius: 20px;
}

#contact .content #content-col-1
{
    margin: 0 40px 0 10px;
    width: 25%;
}

#contact .content #content-col-1 div
{
    position: relative;
    left: -400px;
    opacity: 0;
}

#contact .content #content-col-1 div:first-child
{
    padding: 20px;
    border-radius: 8px;
    color: #949494;
    background-color: #313131;
}

#contact .content #content-col-1 div:nth-child(2)
{
    display: flex;
    align-items: center;
    margin: 50px 0 0 0;
    border: 2px solid #313131;
    border-radius: 8px;
}

#contact .content #content-col-1 div:nth-child(2) .icon
{
    color: #949494;
    background-color: #313131;
    padding: 8px 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#contact .content #content-col-1 div:nth-child(2) p
{
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    color: #949494;
}

#contact .content #content-col-1 div:nth-child(3)
{
    margin: 30px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#contact .content #content-col-1 div:last-child button
{
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    color: #949494;
    border: none;
    background-color: #313131;
    cursor: pointer;
}

#contact .content #content-col-1 div:last-child button:hover
{
    background-color: #5a5a5a;
    color: #202020;
}

#contact .content #content-col-1 div:last-child button .icon
{
    margin: 0 10px 0 0;
}

#contact .content #content-col-1 div:last-child button:hover .icon
{
    color: #202020;
}

#contact .content #content-col-2
{
    margin: 0 10px 0 40px;
    width: 75%;
}

#contact .content #content-col-2 .field
{
    position: relative;
    right: -400px;
    opacity: 0;
}

#contact .content #content-col-2 .field input,
#contact .content #content-col-2 .field textarea
{
    outline: none;
    box-sizing: border-box;
    border: none;
    background-color: #313131;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    width: 100%;
    transition: 0.2s;
}

#contact .content #content-col-2 .field:nth-child(2)
{
    margin: 20px 0;
}

#contact .content #content-col-2 .field textarea
{
    height: 150px;
    resize: none;
}


#contact .content #content-col-2 .field input ~ label,
#contact .content #content-col-2 .field textarea ~ label
{
    position: relative;
    left: 20px;
    font-size: 0px;
    font-weight: bold;
    color: #949494;
    background-color: #202020;
    padding: 5px 15px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.2s;
}

#contact .content #content-col-2 .field input ~ label
{
    top: -72px;
}

#contact .content #content-col-2 .field textarea ~ label
{
    top: -178px;
}

#contact .content #content-col-2 .field input:focus,
#contact .content #content-col-2 .field textarea:focus
{
    color: #fff;
    background-color: #5a5a5a;
}

#contact .content #content-col-2 .field input:not(:placeholder-shown) ~ label
{
    top: -58px;
}

#contact .content #content-col-2 .field textarea:not(:placeholder-shown) ~ label
{
    top: -163px;
}


#contact .content #content-col-2 .field input:not(:placeholder-shown) ~ label,
#contact .content #content-col-2 .field textarea:not(:placeholder-shown) ~ label
{
    opacity: 1;
    font-size: 12px;
}

#contact .content #content-col-2 .field input:focus::placeholder,
#contact .content #content-col-2 .field textarea:focus::placeholder
{
    color: transparent;
}

#contact .content #content-col-2 .field input:focus ~ label,
#contact .content #content-col-2 .field textarea:focus ~ label
{
    font-size: 12px;
    box-shadow: 1px 2px 3px 4px #2020202a;
    opacity: 1;
}

#contact .content #content-col-2 .field input:focus ~ label
{
    top: -58px;
}

#contact .content #content-col-2 .field textarea:focus ~ label
{
    top: -163px;
}

@media (max-width: 1200px)
{
    #contact .content
    {
        width: 650px;
    }

    #contact .content #content-col-1
    {
        margin: 0 20px 0 0;
        width: 35%;
    }

    #contact .content #content-col-2
    {
        margin: 0 0 0 20px;
        width: 65%;
    }
}

@media (max-width: 768px)
{
    #contact .content
    {
        display: block;
        background-color: transparent;
        width: 90%;
        padding: 5%;
    }

    #contact .content #content-col-1,
    #contact .content #content-col-2
    {
        padding: 0;
        margin: 0 auto;
        width: 85%;
    }

    #contact .content #content-col-2
    {
        position: relative;
        top: -40px;
    }

    #contact .content #content-col-1 div:last-child button
    {
        position: relative;
        top: 345px;
    }
}

@keyframes swimInCol1Item {
    to { left: 0; opacity: 1; }
}

@keyframes swimInCol2Item {
    to { right: 0; opacity: 1; }
}